---
import LayoutV5 from "../../layouts/LayoutV5.astro";
import Header from "../../components/v5/Header.astro";
import Hero from "../../components/v5/Hero.astro";
import SocialProof from "../../components/v5/SocialProof.astro";
import ThreePillars from "../../components/v5/ThreePillars.astro";
import SystemExplainer from "../../components/v5/SystemExplainer.astro";
import Pricing from "../../components/v5/Pricing.astro";
import Testimonials from "../../components/v5/Testimonials.astro";
import FAQ from "../../components/v5/FAQ.astro";
import CTA from "../../components/v5/CTA.astro";
import Footer from "../../components/v5/Footer.astro";
---

<LayoutV5 title="Local Leader | Dominate Your Local Market">
  <Header />
  <main>
    <Hero />
    <SocialProof />
    <ThreePillars />
    <SystemExplainer />
    <Pricing />
    <Testimonials />
    <FAQ />
    <CTA />
  </main>
  <Footer />
</LayoutV5>
