---
import LayoutV4 from "../../layouts/LayoutV4.astro";
import Header from "../../components/v4/Header.astro";
import Hero from "../../components/v4/Hero.astro";
import SocialProof from "../../components/v4/SocialProof.astro";
import Pillars from "../../components/v4/Pillars.astro";
import Pricing from "../../components/v4/Pricing.astro";
import Testimonials from "../../components/v4/Testimonials.astro";
import FAQ from "../../components/v4/FAQ.astro";
import FinalCTA from "../../components/v4/FinalCTA.astro";
import Footer from "../../components/v4/Footer.astro";
---

<LayoutV4 title="Local Leader | #1 Local SEO for Tradies">
  <Header />
  <main>
    <Hero />
    <SocialProof />
    <Pillars />
    <Pricing />
    <Testimonials />
    <FAQ />
    <FinalCTA />
  </main>
  <Footer />
</LayoutV4>
