---
import LayoutV3 from "../../layouts/LayoutV3.astro";
import Header from "../../components/v3/Header.astro";
import Hero from "../../components/v3/Hero.astro";
import SocialProof from "../../components/v3/SocialProof.astro";
import ThreePillars from "../../components/v3/ThreePillars.astro";
import Pricing from "../../components/v3/Pricing.astro";
import Testimonials from "../../components/v3/Testimonials.astro";
import FAQ from "../../components/v3/FAQ.astro";
import FinalCTA from "../../components/v3/FinalCTA.astro";
import Footer from "../../components/v3/Footer.astro";
---

<LayoutV3 title="Local Leader | #1 Local SEO for Service Businesses">
  <Header />
  <main>
    <Hero />
    <SocialProof />
    <ThreePillars />
    <Pricing />
    <Testimonials />
    <FAQ />
    <FinalCTA />
  </main>
  <Footer />
</LayoutV3>
